@media (max-width: 575.98px) {
    header nav .nav-item a{
        font-size: 13px !important;
    }
    

    form{
        width: 100% !important;
    }

    #Contact form input{
        width:100% !important;
        margin-top: 20px;
    }

    
    .navbar-expand-lg{
        padding-top: 30px !important;
    }

    .navbar-expand-lg .form-check span{
        border-color:transparent !important;
    }

    :has(header nav .nav-item .active:not(.home)) .navbar-expand-lg{
        padding-top: 10px !important;
    }
    :has(header nav .nav-item .active:not(.home)) .navbar-expand-lg i{
        color:black !important;
    }
    
    header nav .navbar-nav{
        left:0 !important;
        background-color: white;
        width:0%;
        /* top:-400px; */
        text-align: center;
        position:absolute;
        display: none;
        padding: 20px 0px;

    }
    header nav .navbar-nav li {
        width:fit-content;
        margin: auto;
    }

    :has(#navtoggle:checked) .navbar-nav{
        display: inline-block;
        width:100%;
        animation-name: position;
        animation-duration: 0.5s;
        top:50px
    }

    :has(#navtoggle:checked) .collapse-navbar-collapse{
        display: unset !important;
        color:black !important;
    } 

    header nav .nav-item .active::after{
        left:0px
    }

    @keyframes position {
        0%{
            top:-400px;
        }
        100%{
            top:40px;
        }
    
    }

    @keyframes width {
        0%{
            width:0%;
        }
        100%{
            width:100%;
        }
    }
    .navToggle{
        display: unset !important;
    }


    #Portfolio .row .img .layer{
        width:92% !important;
    }

    header nav .nav-item .active::after{
       left:0px !important;
    }


    
    #home h1{
        font-size: 40px !important;
    }

    #home p{
        width:100% !important;
        padding-inline: 0px !important; 
    }

    .head p{
        width:100% !important;
        padding-inline: 0px !important;
    }

    #Portfolio li{
        padding: 0px !important;
    }

    #about h2{
        font-size: 26px;
    }
    
    #about h3{
        font-size: 22px !important;
    }
}

@media (min-width: 576px) {
    #Contact form input{
        width:100% !important;
        margin-top: 20px;
    }
    
    #about img{
        position: relative;
        left:15px
    }
    #about .img::before{
        bottom: -30px;
        left: -10px;
        width: 70%;
        height: 80%;
        z-index: -1; 
    }
    
    
    .navbar-expand-lg{
        padding-top: 30px !important;
    }
    .navbar-expand-lg .form-check span{
        border-color:transparent !important;
    }

    :has(header nav .nav-item .active:not(.home)) .navbar-expand-lg{
        padding-top: 10px !important;
    }
    :has(header nav .nav-item .active:not(.home)) .navbar-expand-lg i{
        color:black !important;
    }


    header nav .navbar-nav{
        left:-40px !important;
        background-color: white;
        width:0%;
        /* top:-400px; */
        text-align: center;
        position:absolute;
        display: none;
        padding: 20px 0px;
    }
    header nav .navbar-nav li {
        width:fit-content;
        margin: auto;
    }

    :has(#navtoggle:checked) .navbar-nav{
        display: unset;
        width:120%;
        animation-name: position;
        animation-duration: 0.5s;
        top:50px;
    }

    header nav .nav-item .active::after{
        left:0px !important;
    }
    :has(#navtoggle:checked) .collapse-navbar-collapse{
        display: unset !important;
        color:black !important;
    }

    header nav .nav-item .active::after{
        left:0px
    }

    @keyframes position {
        0%{
            top:-400px;
        }
        100%{
            top:50px;
        }
    
    }

    @keyframes width {
        0%{
            width:0%;
        }
        100%{
            width:100%;
        }
    }
    .navToggle{
        display: unset !important;
    }
    
    :has(#navtoggle:checked) .navbar-nav {
        display: unset;
        width: 105vh !important;
        animation-name: position;
        animation-duration: 0.5s;
        top: 50px;
        left: -95px !important;
    }


    
    #home p{
        width:100% !important;
        padding-inline: 0px !important; 
    }

    .head p{
        width:100% !important;
        padding-inline: 0px !important;
    }
}

@media (min-width: 768px) {

    #about .img::before{
        bottom: -30px;
        left: -10px;
        width: 85%;
        height: 80%;
        z-index: -1; 
    }

    #about img{
        width:100% !important;
    }

    #home h1{
        font-size:44px;
    }

    form{
        width: 100% !important;
    }

    #Contact form input{
        width:100% !important;
        margin-top: 20px;
    }

    
    .navbar-expand-lg{
        padding-top: 10px !important;
    }


    :has(header nav .nav-item .active:not(.home)) .navbar-expand-lg{
        padding-top: 10px !important;
    }

    
    #home p{
        width:75% !important;
        padding-inline: 0px !important; 
    }

    .head p{
        width:75% !important;
        padding-inline: 0px !important;
    }
    :has(#navtoggle:checked) .collapse-navbar-collapse li a.active{
        color:var(--pink-color) !important;
    }  

    .navToggle{
        display: unset !important;
    }
    
    :has(#navtoggle:checked) .navbar-nav {
        display: unset;
        width: 130% !important;
        animation-name: position;
        animation-duration: 0.5s;
        top: 55px;
        left: -95px !important;
    }
}


@media (min-width: 992px) {
    .container{
        width: 100% !important;
        max-width: 100% !important;
    }

    #about .img{
        width:100%;
    }

    header nav .nav-item a{
        font-size: 14px !important;
    }

    
    #about .img::before{
        bottom: -30px;
        left: 30px;
        width: 85%;
        height: 80%;
        z-index: -1; 
    }

    #about img{
        left:0% !important;
    }

    header{
        width:100% ;
    }


    :has(header nav .nav-item .active.home) .navbar-expand-lg{
        margin-top: -20px;
    }
    

    #Team{
        padding: var(--main-padding);
    }
    

    #Contact form .input{
        width:49% !important;
    }

    header nav ul li{
        padding-right: 15px;
    }
    #home h1{
        font-size: 60px;
        padding: 20px 0px;
        font-weight: 200;
    }


    
    header nav .navbar-nav{
        background-color: transparent;
        position:unset;
        display: unset;
        display: flex;
        flex-direction: row !important;
    }

    .navToggle{
        display: none !important;
    }
 

    #home p{
        width:50% !important;
        padding-inline:48px !important ;
    }

    .head p{
        width:50% !important;
        padding-inline:48px !important;
    }
    #Testimonials .head p{
        width: 75% !important;
    }
    :has(#navtoggle:checked) .collapse-navbar-collapse li a.active{
        color:var(--pink-color) !important;
    }  

}

@media (min-width: 1200px) {
    .container{
        width: 80% !important;
        max-width: 1140px !important;
    }



    
    header nav .nav-item .active{
        position: relative;
        color:var(--pink-color) !important;
    }


}   


